@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("woff2"),
    url("/fonts/JosefinSans-Italic-VariableFont_wght.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

/* This ensures the body always has the space reserved for a scrollbar */
body {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(97, 97, 97, 0.5) transparent;
  animation: scrollAppear 0.5s ease forwards 3.7s;
}

/* For Chrome, Safari */
body::-webkit-scrollbar {
  width: 12px;
  /* Adjust width to your preference */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(97, 97, 97, 0.5);
  /* Adjust color to your preference */
}

#loading-wrapper {
  display: none;
}

.no-script-message {
  background-color: #ffcccb;
  color: #a40000;
  padding: 10px;
  border: 1px solid #a40000;
  margin: 20px 0;
  text-align: center;
}

@keyframes scrollAppear {
  to {
    overflow: visible;
  }
}

#global-header,
#main-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#global-header {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  text-align: center;
  align-items: center;
  opacity: 0;
}

#global-header nav img {
  max-width: 5%;
  max-height: 100%;
}

#global-header h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 8px;
  font-size: 2vw;
  font-weight: 100;
  color: #fff;
  visibility: hidden;
  animation: headerAppear 2s forwards 3.8s;
  z-index: 100;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 3%;
}

#global-header nav {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  animation: headerAppear 2s forwards 3.8s;
  z-index: 100;
  align-items: center;
}

#hamburger-btn {
  display: none;
}

@keyframes headerAppear {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

#nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

#global-header li {
  vertical-align: middle;
  float: left;
}

#global-header li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

#global-header li:last-child a {
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.3s;
  text-transform: uppercase;
}

#global-header li:last-child a:hover {
  background-color: black;
  color: white;
}

#global-header li a:hover {
  background-color: grey;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: relative;
}

.home h2 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 25px;
  color: #fff;
  font-size: 10.7vw;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 2s forwards 3.8s;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

#loading-screen {
  position: fixed;
  width: 60vw;
  height: auto;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: disappear 0.5s ease forwards 3.5s;
  z-index: 1000;
}

#loading-screen path:nth-child(2) {
  stroke-dasharray: 646;
  stroke-dashoffset: 646;
  animation: lin-animation 2s ease forwards;
}

#loading-screen path:nth-child(3) {
  stroke-dasharray: 651;
  stroke-dashoffset: 651;
  animation: lin-animation 2s ease forwards 0.3s;
}

#loading-screen path:nth-child(4) {
  stroke-dasharray: 402;
  stroke-dashoffset: 402;
  animation: lin-animation 2s ease forwards 0.6s;
}

#loading-screen path:nth-child(5) {
  stroke-dasharray: 1022px;
  stroke-dashoffset: 1022px;
  animation: lin-animation 2s ease forwards 0.9s;
}

#loading-screen path:nth-child(6) {
  stroke-dasharray: 886px;
  stroke-dashoffset: 886px;
  animation: lin-animation 2s ease forwards 1.2s;
}

#loading-screen path:nth-child(7) {
  stroke-dasharray: 1027px;
  stroke-dashoffset: 1027px;
  animation: lin-animation 2s ease forwards 1.5s;
}

#loading-screen path:nth-child(8) {
  stroke-dasharray: 767px;
  stroke-dashoffset: 767px;
  animation: lin-animation 2s ease forwards 0.3s;
}

#loading-screen path:nth-child(9) {
  stroke-dasharray: 885px;
  stroke-dashoffset: 885px;
  animation: lin-animation 2s ease forwards 0.6s;
}

#loading-screen path:nth-child(10) {
  stroke-dasharray: 716px;
  stroke-dashoffset: 716px;
  animation: lin-animation 2s ease forwards 0.9s;
}

#loading-screen path:nth-child(11) {
  stroke-dasharray: 769px;
  stroke-dashoffset: 769px;
  animation: lin-animation 2s ease forwards 1.2s;
}

#loading-screen path:nth-child(12) {
  stroke-dasharray: 786px;
  stroke-dashoffset: 786px;
  animation: lin-animation 2s ease forwards 1.5s;
}

@keyframes lin-animation {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

#img1 {
  width: 11%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 2s forwards 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

#img2 {
  width: 14%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

#img4 {
  width: 14%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

#img3 {
  width: 16%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

#img5 {
  width: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

#img6 {
  width: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

#img1 {
  animation: floatim1 2s forwards 4s;
}

#img2 {
  animation: floatim2 2s forwards 4s;
}

#img3 {
  animation: floatim3 2s forwards 4s;
}

#img4 {
  animation: floatim4 2s forwards 4s;
}

#img5 {
  animation: floatim5 2s forwards 4s;
}

#img6 {
  animation: floatim6 2s forwards 4s;
}

@-webkit-keyframes floatim1 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.7;
  }

  100% {
    left: 20%;
    top: 15%;
    opacity: 0.3;
  }
}

@-webkit-keyframes floatim2 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.7;
  }

  100% {
    left: 92%;
    top: 25%;
    opacity: 0.5;
  }
}

@-webkit-keyframes floatim3 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.7;
  }

  100% {
    left: 10%;
    top: 65%;
    opacity: 0.35;
  }
}

@-webkit-keyframes floatim4 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.7;
  }

  100% {
    left: 93%;
    top: 75%;
    opacity: 0.3;
  }
}

@-webkit-keyframes floatim5 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.7;
  }

  100% {
    left: 20%;
    top: 15%;
    opacity: 0.4;
  }
}

@-webkit-keyframes floatim6 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.7;
  }

  100% {
    left: 50%;
    top: 70%;
    opacity: 0.55;
  }
}

#about {
  margin-inline: auto;
  background-color: #000;
  display: flex;
  gap: 50px;
  align-items: baseline;
}

.vertical-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  position: sticky;
  top: 30vh;
  margin-bottom: 25vh;
}

.vertical-title {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 1.5vw;
  font-weight: 500;
  color: #fff;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.section-number {
  font-family: "Old Standard TT", serif;
  letter-spacing: 5px;
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}

.vertical-section hr {
  color: #fff;
  border: none;
  height: 100px;
  background-color: #fff;
  width: 1px;
  margin-bottom: 10px;
}

.content-container {
  width: 100%;
  display: block;
  margin-right: 20px;
}

.content-container > div {
  transition: opacity 0.5s;
  /* Add smooth transition */
}

.content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

#introduction-container {
  flex-basis: 40%;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  margin: 20px auto;
}

#introduction-container h3 {
  padding-bottom: 6rem;
  color: #fff;
  font-size: 4vw;
  letter-spacing: 5px;
}

#introduction-container h4 {
  margin: 1rem 0;
  color: #007bff;
  font-weight: 500;
}

#introduction-container p {
  line-height: 1.6;
  font-weight: 500;
  font-size: 1rem;
}

.pill-container {
  flex-basis: 60%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}

.pill-box {
  border-radius: 2rem;
  position: relative;
  height: auto;
  min-height: 6.7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.pill-box-left {
  padding: 1.3rem 1.5rem;
  border-radius: 2.5rem;
  position: relative;
  height: auto;
  min-height: 9rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vw;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pill-box-right {
  border-left: 0;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

#experience-container {
  flex-basis: 35%;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

#experience-container h3 {
  color: #fff;
  font-size: 4vw;
  font-weight: 500;
  text-align: center;
}

#experience-container h3 span {
  display: block;
  text-align: center;
}

#experience-box {
  flex-basis: 60%;
  padding: 1.3rem 1.5rem;
  border-radius: 2.5rem;
  position: relative;
  height: auto;
  min-height: 9rem;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  text-align: left;
  background: linear-gradient(330deg, #000, #000, #dab060);
  border: 2px solid #dab060;
}

#experience-box div {
  margin: 2rem;
}

#experience-box h3 {
  font-size: 3.5vw;
  font-weight: 500;
  margin: 10px 0;
  letter-spacing: 5px;
}

#experience-box span {
  font-size: 1vw;
  display: block;
}

#projects {
  margin-inline: auto;
  background-color: #000;
  display: flex;
  gap: 50px;
  align-items: baseline;
}

.project {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.project-img-container {
  flex-basis: 40%;
}

.project-img-container img {
  max-width: 100%;
}

.project-description {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  flex-basis: 60%;
  padding: 0.5rem;
  text-transform: uppercase;
}

.project-description h3 {
  font-size: 3.5vw;
  line-height: 1.1;
  font-weight: 500;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.project-description span {
  font-size: 1vw;
}

.project-description p {
  margin: 2rem 0;
  padding-right: 5rem;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1rem;
  text-transform: none;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.3s;
}

.project-link:hover {
  background-color: black;
  color: white;
}

#contact {
  margin-inline: auto;
  background-color: #000;
  display: flex;
  gap: 50px;
  align-items: baseline;
}

#contact-container h3 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  letter-spacing: 15px;
  color: #fff;
  font-size: 5vw;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10vh 0;
}

#contact-section {
  display: flex;
  gap: 15px;
}

#social-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  width: 50%;
}

.social-icon {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* Adjust this value if needed */
  font-size: 2rem;
  /* Adjust this value if needed */
  color: white;
}

.social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  font-size: 50px;
}

.social-icon a:hover,
.social-icon a:focus {
  color: inherit;
  opacity: 0.8;
}

#pills-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-pill {
  padding: 1rem 1rem;
  border-radius: 2.5rem;
  position: relative;
  height: auto;
  min-height: 2rem;
  background: linear-gradient(330deg, #000, #000, #59ce8f);
  border: 2px solid #59ce8f;
  max-width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 20px 20px;
}

#copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

#copyright > span {
  margin: 0 4px;
  /* Giving equal margins for both the span and the a for consistency */
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}
.responsive-break {
  display: none;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .responsive-break {
    display: inline;
  }
  #global-header h1 {
    font-size: 2vw;
  }

  #global-header nav ul li a {
    font-size: 14px;
  }
}

@media (width < 800px) {
  body {
    overflow-x: hidden;
  }

  #about,
  #projects,
  #contact {
    display: block;
    gap: 50px;
    align-items: center;
  }

  .vertical-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    margin-bottom: 5vh;
}

.vertical-title {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    writing-mode: horizontal-tb;
    transform: none;
}

.section-number {
    font-family: "Old Standard TT", serif;
    letter-spacing: 5px;
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.vertical-section hr {
    color: #fff;
    border: none;
    width: 100px; 
    background-color: #fff;
    height: 1px;  
    margin-bottom: 10px;
    transform: none;  
}

  #global-header h1 {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 6px;
    font-weight: 100;
    color: #fff;
    visibility: hidden;
    animation: headerAppear 2s forwards 3.7s;
    z-index: 100;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 3%;
    font-size: 1.5rem;
  }

  #global-header nav {
    width: 100%;
    overflow: hidden;
  }

  #global-header nav img {
    max-width: 15%;
    max-height: 100%;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 10vh;
    /* Hide navigation links on mobile */
  }

  #hamburger-btn {
    display: block;
    width: 45px;
    margin-right: 5px;
  }

  .content-container {
    width: 100%;
    overflow-x: hidden;
  }

  .content {
    display: block;
    height: auto;
    margin-bottom: 10vh;
  }

  #introduction-container {
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 5vh;
  }

  #introduction-container h3 {
    padding-bottom: 1rem;
    color: #fff;
    font-size: 30px;
    letter-spacing: 5px;
  }

  #introduction-container h4 {
    margin: 0.5rem 0;
    color: #007bff;
    font-weight: 500;
  }

  #introduction-container p {
    line-height: 1.6;
    font-weight: 500;
    font-size: 16px;
  }

  .pill-container {
    flex-basis: 0%;
    padding: 0.3rem;
    display: block;
    gap: 20px;
  }

  .pill-box {
    border-radius: 2rem;
    position: relative;
    height: auto;
    min-height: 3.7rem;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 5vh;
  }

  .pill-box-left {
    padding: 1.3rem 1.5rem;
    border-radius: 2.5rem;
    position: relative;
    height: auto;
    max-height: 4rem;
    padding: 0.5rem;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 7vw;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pill-box-right {
    border-left: 0;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
  }

  #experience-container {
    flex-basis: 35%;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    margin-bottom: 5vh;
  }

  #experience-container h3 {
    font-size: 30px;
    letter-spacing: 5px;
  }

  #experience-box {
    text-align: center;
  }

  #experience-box div {
    margin: 2rem 0;
  }

  #experience-box h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 5px;
  }

  #experience-box span {
    font-size: 12px;
    display: block;
  }

  .project {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 10vh;
  }

  .project-description {
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    flex-basis: 60%;
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  .project-description h3 {
    font-size: 24px;
    letter-spacing: 5px;
  }

  .project-description span {
    font-size: 14px;
  }

  .project-description p {
    margin: 2rem 0;
    padding-right: 0;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1rem;
    text-transform: none;
    text-align: center;
  }

  .project-img-container {
    text-align: center;
  }

  .project-img-container img {
    max-width: 70%;
  }

  #contact-section {
    display: block;
    margin-bottom: 10vh;
    max-width: 100%;
  }

  #social-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }

  .contact-pill {
    padding: 0.75rem 0.75rem;
    border-radius: 2.5rem;
    position: relative;
    height: 1.5rem;
    background: linear-gradient(330deg, #000, #000, #59ce8f);
    border: 2px solid #59ce8f;
    max-width: 100%;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }

  .contact-pill h3 {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    word-wrap: break-word;
    text-decoration: none;
    color: inherit;
  }
}
